body {
    background-color: hsl(30, 54%, 90%);
    margin: 0 auto;
}

.recipe-container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 375px;
    margin: 0 auto;
   
}

.recipe {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.contents {
   padding: 0px 30px 0px 30px;
}

.omelette {
    max-width: 23.4rem;
}
.description {
    line-height: 1.5;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(30, 10%, 34%);
}
.preperation-container {
    background-color: hsl(330, 100%, 98%);
    border-radius: 1rem;
    padding: 5px 0px 10px 0px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.preperation {
    margin-left: 20px;
    color: hsl(332, 51%, 32%);
}

.list {
    padding-left: 20px;
}

.time {
   margin: 0px 40px 10px 20px;
   color: hsl(30, 10%, 34%);
}
li {
    padding-left: 15px;
}

.ingredients-container {
    border-bottom: 1px solid hsl(30, 14%, 88%);
}

.ingredients {
    font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: hsl(14, 45%, 36%);
}


.ingredients-list {
    padding-left: 20px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(30, 10%, 34%);
    margin-bottom: 30px;
}

.food {
    margin-bottom: 10px;
}

.instructions {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color :hsl(14, 45%, 36%);
}

.instructions-list {
    padding-left: 20px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(30, 10%, 34%);
    margin-bottom: 30px;
}

.method {
    margin-left: 10px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.instructions-container {
    border-bottom: 1px solid hsl(30, 14%, 88%);
}

.nutrition-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.nutrition {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color :hsl(14, 45%, 36%);

}

.table-p {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(30, 10%, 34%);
}

.table {
    border-collapse: collapse;
    border-spacing: 40px 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}
td {
    border-bottom: 1px solid hsl(30, 14%, 88%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 15px 0;
}


td:first-child {
    color: hsl(30, 10%, 34%);
    text-align: left;

}
td:last-child {
    color: #7b3f00; /* brown tone */
    font-weight: bold;
    text-align: start;
}

@media only screen and (min-width: 768px) {

    .recipe-container {
        margin-top: 40px;
        max-width: 730px;
        border-radius: 20px;
        margin-bottom: 40px;
    }
.omelette-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
    .omelette{ 
        max-width: 700px;
        height: 100%;
        border-radius: 20px;
    }

   .table {
    border-spacing: 40px 5px;
   }

   td {
    padding: 10px;
   }

}